@import url('https://fonts.googleapis.com/css?family=Poppins:300,600&display=swap');

// Variables
$fonts: 'Poppins', Arial, Helvetica, sans-serif;
$font-color: rgba(0, 0, 0, 0.6);
$background: #e1e1e1;
$button: linear-gradient(180deg, #fff 0%, #ececec 100%);
$shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
$radius: 0.5rem;
$bleu-ciel: linear-gradient(to bottom, #3389f7 0%, #297deb 100%);

@import './base.scss';

html,
body,
#sp-app {
	height: 100%;
}

html {
	background-color: $background;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
	line-height: 1;
}

input[type='text'] {
	background-color: white;
	font-family: $fonts;
	border: 0;
}

button,
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: $button;
	box-shadow: $shadow;
	border-radius: $radius;
	font-family: $fonts;
	padding: 0 1.5rem;
	color: inherit;
	min-width: 8rem;

	&.with-icon {
		justify-content: space-between;
		min-width: 10rem;
	}

	&:active {
		transform: scale(0.99);
		opacity: 0.8;
	}
}

svg {
	height: 2rem;
	fill: $font-color;
}

.app {
	display: flex;
	max-width: 1024px;
	height: 100%;
	margin: auto;
	padding: 1.5rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	margin: 0 1rem 1rem 1rem;

	.item {
		display: flex;
		align-items: center;
		height: inherit;
	}

	.tools {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	.nextback {
		display: flex;
		justify-content: flex-end;
		min-width: 180px;

		button {
			margin-left: 1rem;
		}
	}

	h4 {
		margin-bottom: 0;
		margin-right: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	.brand {
		width: 12rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 0 1rem;
	width: 70%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	font-weight: 600;

	.cell {
		display: flex;
		width: 25%;
		height: 18rem;
		padding: 1rem;

		.card {
			font-size: 1.4rem;
			line-height: 1;
			width: 100%;
			height: 100%;
			background: $button;
			border-radius: $radius;
			padding: 5% 15%;
			white-space: normal;
			box-shadow: $shadow;
			justify-content: center;
		}
	}
}

.panel {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.inner {
		flex-grow: 1;
	}
}

.checkout {
	display: flex;
	flex-direction: column;
	background: $button;
	width: 30%;
	padding: 1.5rem;
	border-radius: $radius;
	box-shadow: $shadow;

	h3 {
		font-weight: 600;
		font-size: 2rem;
		text-transform: uppercase;
	}

	.body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;

		.items {
			flex-grow: 1;

			.item {
				display: flex;
				justify-content: space-between;
				width: 100%;
				font-weight: 600;
				align-items: flex-start;
				line-height: 1;
				margin: 2.5rem 0;

				.quantity {
					min-width: 10%;
					text-align: center;
					background: $bleu-ciel;
					color: white;
					padding: 0.5rem;
					border-radius: 50%;
				}

				.detail {
					flex-grow: 1;
					margin: 0 1rem;
				}

				.price {
					text-align: end;
				}

				small {
					font-weight: normal;
				}
			}
		}
	}

	.total {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
	}

	.footer {
		.pay {
			width: 100%;
			color: white;
			background: $bleu-ciel;
		}
	}
}

.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	background: $button;
	box-shadow: $shadow;
	border-radius: $radius;
	overflow: hidden;

	.tab {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 2rem;
		background: $button;
		cursor: pointer;
		font-family: $fonts;
		font-weight: 600;
		font-size: 1.2rem;

		&.active {
			background: $bleu-ciel;
			color: white;
		}
	}
}

.modal {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.modal-overlay {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 150;
		width: 100%;
		height: 100%;
	}

	.modal-body {
		z-index: 200;
		position: relative;
		margin: 4rem auto;
		max-width: 70%;
		background: $button;
		border-radius: $radius;
		overflow: hidden;
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	}
}

.form {
	display: flex;
	flex-direction: column;

	.body {
		padding: 1.5rem;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		margin: 0 -1px;

		button {
			height: 5rem;
			width: 50%;
			border-radius: 0;
			color: white;
			background: rgb(51, 137, 247);
			margin: 0 1px;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
}
